# **Importing the required Libraries**

In [49]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression

# **Reading the data from the dataset**

In [50]:
url = "https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv"
data=pd.read_csv(url)
print("Data Read Acomplished")

Data Read Acomplished

Segregating the data in marks (y) and hours (x)
then training the model wiith the data

In [51]:
x=data.iloc[:, :-1].values
y=data.iloc[:,1].values
model=LinearRegression().fit(x,y)

# **Predict Response**

In [52]:
marks=model.predict(x)
print("Marks Predict using the trained data input:\n")
pred=pd.DataFrame({'Actual': y, 'Predicted': marks})
pred

Marks Predict using the trained data input:

    Actual  Predicted
0       21  26.923182
1       47  52.340271
2       27  33.766244
3       75  85.578002
4       30  36.698985
5       20  17.147378
6       88  92.421065
7       60  56.250592
8       81  83.622842
9       25  28.878343
10      85  77.757360
11      62  60.160913
12      41  46.474789
13      42  34.743825
14      17  13.237057
15      95  89.488324
16      30  26.923182
17      24  21.057700
18      67  62.116074
19      69  74.824618
20      30  28.878343
21      54  49.407530
22      35  39.631726
23      76  69.936717
24      86  78.734940

In [53]:
hours = [[9.25]]
pred2 = model.predict(hours)
print("Marks Predict using our own data input (9.25): {}".format(pred2[0]))

Marks Predict using our own data input (9.25): 92.9098547701573

# **Get Results**

Check if the fitted model works as intended by finding the cofficient of determination and mean square error

In [54]:
from sklearn import metrics
R=model.score(x,y)
mse=metrics.mean_absolute_error(y,marks)
print("Cofficient of determination:", R,"\nMean Square Error:",mse)

Cofficient of determination: 0.9529481969048356
Mean Square Error: 4.972805319866375